.search-row {
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 0 8px;
    overflow: hidden;
    height: 200px;
    min-width: 798px;
}

.main-image {
    width: auto;
    height: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.discount {
    position: absolute;
    top: 8px;
    left: 8px;
    background: red;
    color: white;
    border-radius: 3px;
    padding: 3px 5px;
}

.info-box {
    background: white;
}
.info-name {
    font-size: 27px;
    font-weight: bold;
    padding-top: 5px;
}
.one-star {
    background-image: url(/assets/star-64x64.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.info-addr-title {
    font-size: 18px;
}

.cost-box {
    background: #edebeb;
    text-align: center;
    padding: 5px;
}
.price {
    margin-bottom: 53px;
    margin-top: 50px;
    height: 48px;
}
.disc-price {
    font-size: 12px;
    color: red;
    text-decoration: line-through;
}
.main-price {
    font-size: 20px;
    font-weight: bold;
}
.go-btn {
    width: 100%;
}